.dashboard_layout {
  &_inner {
    .containerPage {
      display: flex;
      flex-wrap: nowrap;
      gap: var(--pad-pri);
      .colPage-7 {
        flex: 1;
        width: 60vw;
      }
      .colPage-3 {
        width: 40vw;
      }
    }

    &_left,
    &_right {
      padding: var(--pad-pri);
    }

    .order_list {
      background: #1f1d2b;
      border-radius: 8px;

      h2 {
        padding: var(--pad-pri);
      }

      .item_order {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: var(--pad-pri);
      }

      .prod_img {
        width: 48px;
        height: 48px;
        border-radius: 8px;
      }
    }
  }

  .summary_box {
    background: transparent;

    .col {
      padding: 0.5rem;
    }
  }

  .box_item {
    border-radius: 8px;
    background-color: #1f1d2b;
    padding: var(--pad-pri);

    &_inner {
      .box_item_name p {
        color: #abbbc2;
      }

      .box_item_icon {
        display: flex;
        gap: 2.4rem;
        align-items: center;

        .percentage_number.text_green {
          color: #50d1aa !important;
        }
        .percentage_number.text_red {
          color: #ff7ca3 !important;
        }

        &_inner {
          width: 40px;
          height: 40px;
          border-radius: 8px;
          background-color: black;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            filter: brightness(0) saturate(100%) invert(56%) sepia(41%)
              saturate(2049%) hue-rotate(212deg) brightness(100%) contrast(76%);
          }
        }
      }
    }
  }

  .order_report {
    &_inner {
      padding: var(--pad-pri);
      background: #1f1d2b;
      border-radius: 8px;

      h1 {
        margin-bottom: 1rem;
      }

      table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 12px;

        th {
          color: white;
          padding-bottom: 8px;
        }

        td {
          color: #fff;
          background: #2d2d3a;
          padding: 12px;
          border-radius: 8px;
        }

        .status {
          width: 100px;
          text-align: center;
          border-radius: 30px;
          padding: 4px 0;
        }

        .complete {
          background-color: rgba(107, 226, 190, 0.24);
          color: #50d1aa !important;
        }
        .pending {
          background-color: rgba(255, 181, 114, 0.2);
          color: #ffb572 !important;
        }
        .preparing {
          background-color: rgba(146, 144, 254, 0.2);
          color: #9290fe !important;
        }
      }
    }
  }
}
